<div>
    <button mat-raised-button color="primary" (click)="showColumnSelector = !showColumnSelector">
    Choose Columns ({{ visibleColumns.length }})
  </button> @if (showColumnSelector) {
    <div class="column-selector">
        @for (col of config.cols; track $index) {
        <mat-checkbox [checked]="visibleColumns.includes(col.label)" (change)="toggleColumn(col.label)">
            {{ col.label }}
        </mat-checkbox>
        }
    </div>
    }
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-table">
            @for (col of config.cols; track $index) { @if (visibleColumns.includes(col.label)) {
            <ng-container [matColumnDef]="col.label">
                <th mat-header-cell *matHeaderCellDef>{{ col.label }}</th>
                <td mat-cell *matCellDef="let row">
                    @for (key of col.keys; track $index) {
                    <ng-container>{{ row[key] }}</ng-container> }
                </td>
            </ng-container>
            } }
            <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
            <!-- <tr mat-row *matRowDef="let row; columns: visibleColumns;"></tr> -->
            <tr mat-row *matRowDef="let row; columns: visibleColumns" (click)="config.onClick?.(row)"></tr>
        </table>
    </div>
    <mat-paginator [length]="config.totalItems" [pageSize]="config.pageSize || 10" [pageSizeOptions]="[5, 10, 15, 20]" (page)="onPageChange($event)">
    </mat-paginator>
</div>